.portfolio__containerr{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  margin-top: 3rem;
}
.portfolio__itemm{
background: var(--container-color);
padding: 1.2rem;
border-radius: 2rem;
border: 1px solid rgba(0, 0, 0, 0.1);
transition: 0.3s;
}
.text__title {
 font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-1);
  text-align: center;
}
.text__desc{
  text-align: center;

  font-size: var(--small-font-size);
  margin-bottom: var(--mb-2);
  color: var(--text-color-light);
}
.portfolio__item:hover{
  border-color: var(--color-primary-variant);
  background: transparent;
 
}
.portfolio__item-imagee{
  border-radius: 1.5rem;
  object-fit: cover;
  overflow: hidden;
}
.portfolio__item h3{
  margin: 1.2rem  0 2rem;
}
.proj-title{
  margin-top: 15px;
}
.portfolio__item-ctaa{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.btnn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 77, 77);
  padding: 9px;
  border-radius: 8px;
  color: white;

}
.btn-primaryy {
  background-color: rgb(143, 174, 197);
  padding: 6px;
  border-radius: 8px;
  color: white;

}


/* ------MEDIA QUERIES-----(MEDIUM DEVICES)----*/
@media screen and (max-width:1024px){
 .portfolio__containerr{
   grid-template-columns: 1fr 1fr;
   gap: 1.2rem;
 }
 }
 
 /* ------MEDIA QUERIES-----(SMALL DEVICES)----*/
 @media screen and (max-width:600px){
.portfolio__containerr{
  grid-template-columns: 1fr;
  gap: 1rem;
}
 }